<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

	<menuitem name="gsuite-root" title="Gsuite" icon="fa-google" icon-background="blue" order="-61" if="__config__.app.isApp('gsuite')"/>

	<menuitem name="gsuite-google-account" parent="gsuite-root" title="Google account" action="gsuite.google.account" />

	<action-view name="gsuite.google.account" title="Google account" model="com.axelor.apps.gsuite.db.GoogleAccount">
		<view type="grid" name="google-account-grid" />
		<view type="form" name="google-account-form" />
	</action-view>
	
	<menuitem name="admin-root-batch-gsuite" parent="admin-root-batch"
		title="G-Suite batches" action="admin.root.batch.gsuite" />

	<action-view name="admin.root.batch.gsuite" title="G-Suite batches"
		model="com.axelor.apps.gsuite.db.GSuiteBatch" >
		<view type="grid" name="gsuite-batch-grid"/>
		<view type="form" name="gsuite-batch-form"/>
	</action-view>

</object-views>
