<?xml version="1.0" encoding="UTF-8"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.3.xsd">
  
   <menuitem title="Rossum" name="rossum-root" icon="fa-file-text" icon-background="blue" if="__config__.app.isApp('rossum')" order="-68"/>

	<menuitem title="Invoice ocr template" name="rossum-root-invoice-ocr-template" parent="rossum-root" action="rossum.root.invoice.ocr.template" order="5"/>
	<action-view name="rossum.root.invoice.ocr.template" title="Invoice ocr template" model="com.axelor.apps.rossum.db.InvoiceOcrTemplate">
      <view type="grid" name="invoice-ocr-template-grid"/>
      <view type="form" name="invoice-ocr-template-form"/>
	</action-view>

   <menuitem title="Config" name="rossum-root-config" parent="rossum-root" order="10"/>

   <menuitem title="Organisations" name="rossum-root-config-rossum-organisation" parent="rossum-root-config" action="rossum.root.config.rossum.organisation"/>
   <action-view name="rossum.root.config.rossum.organisation" title="Organisations" model="com.axelor.apps.rossum.db.Organisation">
      <view type="grid" name="organisation-grid"/>
      <view type="form" name="organisation-form"/>
   </action-view>

   <menuitem title="Workspaces" name="rossum-root-config-rossum-workspace" parent="rossum-root-config" action="rossum.root.config.rossum.workspace"/>
   <action-view name="rossum.root.config.rossum.workspace" title="Workspaces" model="com.axelor.apps.rossum.db.Workspace">
      <view type="grid" name="workspace-grid"/>
      <view type="form" name="workspace-form"/>
   </action-view>

   <menuitem title="rossum.Schemas" name="rossum-root-config-rossum-schema" parent="rossum-root-config" action="rossum.root.config.rossum.schema"/>
   <action-view name="rossum.root.config.rossum.schema" title="rossum.Schemas" model="com.axelor.apps.rossum.db.Schema">
      <view type="grid" name="schema-grid"/>
      <view type="form" name="schema-form"/>
   </action-view>

   <menuitem title="Queues" name="rossum-root-config-rossum-queue" parent="rossum-root-config" action="rossum.root.config.rossum.queue"/>
   <action-view name="rossum.root.config.rossum.queue" title="Queues" model="com.axelor.apps.rossum.db.Queue">
      <view type="grid" name="queue-grid"/>
      <view type="form" name="queue-form"/>
   </action-view>

   <menuitem title="Annotations" name="rossum-root-config-rossum-annotation" parent="rossum-root-config"
      action="rossum.root.config.rossum.annotaion"/>
   <action-view name="rossum.root.config.rossum.annotaion" title="Annotations" model="com.axelor.apps.rossum.db.Annotation">
      <view type="grid" name="annotation-grid"/>
      <view type="form" name="annotation-form"/>
      <view-param name="limit" value="100"/>
   </action-view>
</object-views>
